{% extends 'base.html.twig' %}

{% set is_home = true %}

{% block title %}Home{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="post-preview">
      <a href="{{ path('blog_post', {id: post.id, slug: post.slug}) }}">
        <h2 class="post-title">
          {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
          {{ post.subtitle }}
        </h3>
      </a>
      <p class="post-meta">
        Posted on the {{ post.createdAt|date('jS F, Y') }}
        {% if post.premium %}
          {% include 'premium/_label.html.twig' %}
        {% endif %}
      </p>
    </div>
    <hr>
  {% endfor %}
{% endblock %}
